  <h1 id="itemName">{{itemName}}</h1>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1"></div>
  <img class="imageblock" id="imageURL" src={{imageURL}} width="205" alt="image">
  <div>
      <h3 style="text-align: center; text-decoration:underline;" id="newItemWishlist">Add to Wish List</h3>
</div>


  <div>
  <h4>Information</h4>
  <p id="itemPrice">Price: {{price}}</p>
    <p id="itemSize">Size: {{size}}</p>
    <p id="itemCondition">Condition: {{condition}}</p>
    <p id="itemColor">Color: {{color}}</p>
  <div class="w-form">
    <form name="email-form" data-name="Email Form" method="post" data-redirect="../response">
      <label style="text-align:center;"class="formlabel" for="name">Have questions? Ask us here!</label>
      <input class="w-input" type="text" placeholder="Write your question here!" name="name" data-name="Name"></input>
      <center><input style="background-color: #93c0bd;"class="w-button button submitbutton" type="submit" value="Submit" data-wait="Loading"></center></input>
    </form>
    <div class="w-form-done">
      <p>Thank you for your submission!</p>
    </div>
    <div class="w-form-fail">
      <p>Something went wrong while submitting the form :(</p>
    </div>
  </div>
